@media (min-width:1024px) {

  html {
    font-size: 14px;
  }

  .container {
    max-width: 95%;
  }

  .navbar-main-menu {
    background-color: $primary;
    background-image: linear-gradient(to left top, #08537c, #015684, #00588d, #005b95, #005d9d, #0660a2, #0d63a7, #1366ac, #1d6aaf, #246eb2, #2b73b4, #3277b7);

    .main-menu-navigation {
      justify-content: flex-end;
    }
  }
}
