.body-content {
    max-height: 300px !important;
    overflow-y: scroll;
}

.trix-button-group--history-tools {
    display: none !important;
}

.error {
    color: red;
}

.text-dark-stroke {
	color: transparent !important;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #19191c;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.text-primary-shadow {
	text-shadow: 0.03em 0.03em 0 #ea110c;
}